<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
	<title>Consultas</title>
</head>
<body>
<main class="d-flex flex-column min-vh-100">
	<div class="container-fluid py-3">
		<div class="row justify-content-center">
			<div class="col-12">
				<h1 class="text-center py-2">Horários Disponíveis</h1>
				
				<div class="table-responsive shadow-lg p-3 mb-5 bg-white rounded">
					<table class="table table-hover text-center">
						<thead class="table-dark">
						<tr>
							<th scope="col">Data</th>
							<th scope="col">Início</th>
							<th scope="col">Fim</th>
							<th scope="col">Médico</th>
							<th scope="col">Status</th>
							<th> <a th:href="@{/consultorio/agendamento/novo}"
							        class="btn btn-success btn-sm"
							        title="Novo">
								<i class="bi bi-plus-circle-fill"></i>
							</a>
							</th>
						</tr>
						</thead>
						<tbody class="table-group-divider">
						<tr th:each="agendamento : ${agendamentos}">
							<td th:text="${#temporals.format(agendamento.data, 'dd/MM/yyyy')}"></td>
							<td th:text="${#temporals.format(agendamento.hora_inicio, 'HH:mm')}"></td>
							<td th:text="${#temporals.format(agendamento.hora_fim, 'HH:mm')}"></td>
							<td th:text="${agendamento.medico.nome}"></td>
							<td>
								<span class="badge bg-success" th:text="${agendamento.status}"></span>
							</td>
							<!-- Na lista de agendamentos -->
							
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>