<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
    <title th:text="${agendamento.id_agendamento == null ? 'Novo Agendamento' : 'Editar Agendamento'}">Agendamento</title>
</head>

<body>
<main class="d-flex flex-column min-vh-100">
    <div class="container mt-5">
        <h2 th:text="${agendamento.id_agendamento == null ? 'Novo Agendamento' : 'Editar Agendamento'}"></h2>

        <form th:action="@{/consultorio/agendamento/salvar}" th:object="${agendamento}" method="post">

            <!-- Campo Data -->
            <div class="mb-3">
                <label for="data_agendamento" class="form-label">Data:</label>
                <input type="date" class="form-control" id="data_agendamento" th:field="*{data_agendamento}"
                       th:classappend="${#fields.hasErrors('data_agendamento')} ? ' is-invalid'">
                <div class="invalid-feedback" th:errors="*{data_agendamento}"></div>
            </div>

            <!-- Campo Hora Início -->
            <div class="mb-3">
                <label for="hora_inicio" class="form-label">Hora Início:</label>
                <input type="time" class="form-control" id="hora_inicio" th:field="*{hora_inicio}"
                       th:classappend="${#fields.hasErrors('hora_inicio')} ? ' is-invalid'">
                <div class="invalid-feedback" th:errors="*{hora_inicio}"></div>
            </div>

            <!-- Campo Hora Fim -->
            <div class="mb-3">
                <label for="hora_fim" class="form-label">Hora Fim:</label>
                <input type="time" class="form-control" id="hora_fim" th:field="*{hora_fim}"
                       th:classappend="${#fields.hasErrors('hora_fim')} ? ' is-invalid'">
                <div class="invalid-feedback" th:errors="*{hora_fim}"></div>
            </div>

            <!-- Campo Médico -->
            <div class="mb-3">
                <label for="medico" class="form-label">Médico:</label>
                <select class="form-control" id="medico" name="medico.id" required>
                    <option value="" disabled selected>Selecione um médico</option>
                    <option th:each="medico : ${medicos}"
                            th:value="${medico.id}"
                            th:text="${medico.nome}"
                            th:selected="${agendamento.medico != null and medico.id == agendamento.medico.id}">
                    </option>
                </select>
            </div>

            <!-- Botões -->
            <button type="submit" class="btn btn-success">Salvar</button>
            <a th:href="@{/consultorio/agendamento}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</main>
</body>
</html>
