<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Título Padrão</title>
    <!-- Outros elementos do cabeçalho -->
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Cabeçalho -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- Conteúdo principal -->
<main class="flex-grow-1">
    <div class="container my-4">
        <div th:layout="~{::body}"></div>
    </div>
</main>

<!-- Rodapé -->
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
