<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
    <title>Consultas Médico</title>
</head>
<body>

<main class="d-flex flex-column min-vh-100">
<div class="container mt-5">
    <h2 class="text-center">Consultas do Médico: <span th:text="${medicoNome}"></span></h2>

    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Paciente</th>
            <th>Observações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="consulta : ${consultas}">
            <td th:text="${consulta.idConsulta}"></td>

            <td th:text="${#dates.format(consulta.data, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${consulta.paciente != null ? consulta.paciente.nome : 'Desconhecido'}"></td>
            <td th:text="${consulta.observacao != null ? consulta.observacao : 'Nenhuma'}"></td>
        </tr>
        </tbody>
    </table>


        <a th:href="@{/consultorio/medico}" class="btn btn-primary">Voltar</a>

</div>

</main>
</body>
</html>
