<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
    <title>Form Medico</title>
</head>
<body>

<main class="d-flex flex-column min-vh-100">
    <div class="content d-flex flex-column align-items-center justify-content-center py-3">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white">
                    <h2 th:text="${medico.id == null ? 'Novo Médico' : 'Editar Médico'}"></h2>
                </div>
                <div class="card-body">
                    <!-- Rota dinâmica: se o médico tiver ID, chama editar; se não, chama salvar -->
                    <form th:action="@{${medico.id == null ? '/consultorio/medico/salvar' : '/consultorio/medico/editar'}}" method="post">
                        <input type="hidden" name="id" th:if="${medico.id != null}" th:value="${medico.id}" />

                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome:</label>
                            <input type="text" class="form-control" id="nome" name="nome"
                                   th:value="${medico.nome}" required placeholder="Digite o nome">
                        </div>

                        <div class="mb-3">
                            <label for="crm" class="form-label">CRM:</label>
                            <input type="text" class="form-control" id="crm" name="crm"
                                   th:value="${medico.crm}" required placeholder="Digite o CRM">
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-success" th:text="${medico.id == null ? 'Salvar' : 'Atualizar'}"></button>
                            <a class="btn btn-secondary" th:href="@{/consultorio/medico}">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>


</body>
</html>
