<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
	<title>Medicos</title>
</head>
<body>

<main class="d-flex flex-column min-vh-100">
	<div class="container-fluid py-3">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10 col-xl-8">
				<h1 class="text-center py-2">Lista de Médicos</h1>

				<div class="mb-3">
					<label class="form-label">Filtrar Consultas</label>
					<form th:action="@{/consultorio/medico/search/{name}(name=*{name})}" method="get">
						<label for="nomePaciente" class="form-label">Buscar Medico</label>
						<div class="input-group">
							<input type="text" class="form-control" id="nomePaciente" name="name"
								   placeholder="Ex: Pedro Alves" th:value="${param.name}">
							<button class="btn btn-primary" type="submit">Buscar</button>
							<a th:href="@{/consultorio/medico}" class="btn btn-secondary">Limpar</a>
						</div>
					</form>
				</div>

				<div class="table-responsive shadow-lg p-3 mb-5 bg-white rounded">
					<table class="table table-hover text-center">
						<thead class="table-dark">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Nome</th>
							<th scope="col" class="d-none d-sm-table-cell">CRM</th>
							<th scope="col">Ações</th>
						</tr>
						</thead>
						<tbody class="table-group-divider">
						<tr th:each="medico : ${medicos}">
							<th scope="row" th:text="${medico.id}"></th>
							<td th:text="${medico.nome}"></td>
							<td class="d-none d-sm-table-cell" th:text="${medico.crm}"></td>
							<td>
								<div class="d-flex flex-wrap justify-content-center gap-2">
									<a th:href="@{/consultorio/medico/{id}/consultas(id=${medico.id})}"
									   class="btn btn-info btn-sm"
									   title="Consultas">
										<i class="bi bi-calendar-check"></i>
									</a>
									<a th:href="@{/consultorio/medico/novo}"
									   class="btn btn-success btn-sm"
									   title="Novo">
										<i class="bi bi-plus-circle-fill"></i>
									</a>
									<a th:href="@{/consultorio/medico/editar/{id}(id=${medico.id})}"
									   class="btn btn-primary btn-sm"
									   title="Editar">
										<i class="bi bi-pencil-square"></i>
									</a>
									<a th:href="@{/consultorio/medico/deletar/{id}(id=${medico.id})}"
									   class="btn btn-danger btn-sm"
									   title="Excluir">
										<i class="bi bi-trash3"></i>
									</a>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</main>

</body>
</html>