<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
    <title>Consultas Médico</title>
</head>
<body>

<main class="d-flex flex-column min-vh-100">
<div class="container mt-5">
    <h2 th:text="'Consultas do Paciente: ' + ${pacienteNome}"></h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Data</th>
            <th>Valor</th>
            <th>Observação</th>
            <th>Médico</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="consulta : ${consultas}">
            <td th:text="${#dates.format(consulta.data, 'dd/MM/yyyy')}"></td>
            <td th:text="${consulta.valor}"></td>
            <td th:text="${consulta.observacao}"></td>
            <td th:text="${consulta.medico.nome}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}" class="btn btn-primary">Voltar</a>
</div>

</main>

</body>

</html>
