<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
    <title>Pecientes</title>
</head>

<body>
<main class="d-flex flex-column min-vh-100">
    <div class="container-fluid py-3">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <h1 class="text-center py-2">Lista de Pacientes</h1>

                <div class="mb-3">
                    <form th:action="@{/consultorio/paciente/search/{name}(name=*{name})}" method="get">
                        <label for="nomePaciente" class="form-label">Procurar Paciente</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="nomePaciente" name="name"
                                   placeholder="Ex: Pedro Alves" th:value="${param.name}">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                            <a th:href="@{/consultorio/paciente}" class="btn btn-secondary">Limpar</a>
                        </div>
                    </form>
                </div>

                <div class="table-responsive shadow-lg p-3 mb-5 bg-white rounded">
                    <table class="table table-hover text-center">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col" class="d-none d-md-table-cell">Telefone</th>
                            <th scope="col">Ações</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        <tr th:each="paciente : ${pacientes}">
                            <th scope="row" th:text="${paciente.id}"></th>
                            <td th:text="${paciente.nome}"></td>
                            <td class="d-none d-md-table-cell" th:text="${paciente.telefone}"></td>
                            <td>
                                <div class="d-flex flex-wrap justify-content-center gap-2">
                                    <a th:href="@{/consultorio/paciente/{id}/consultas(id=${paciente.id})}"
                                       class="btn btn-info btn-sm"
                                       title="Consultas">
                                        <i class="bi bi-calendar-check"></i>
                                    </a>
                                    <a th:href="@{/consultorio/paciente/novo}"
                                       class="btn btn-success btn-sm"
                                       title="Novo">
                                        <i class="bi bi-plus-circle-fill"></i>
                                    </a>
                                    <a th:href="@{/consultorio/paciente/editar/{id}(id=${paciente.id})}"
                                       class="btn btn-primary btn-sm"
                                       title="Editar">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a th:href="@{/consultorio/paciente/deletar/{id}(id=${paciente.id})}"
                                       class="btn btn-danger btn-sm"
                                       title="Excluir">
                                        <i class="bi bi-trash3"></i>
                                    </a>

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>