<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
	<title>form paciente</title>
</head>
<body>

<main class="d-flex flex-column  min-vh-100">
	<div class="content d-flex flex-column align-items-center justify-content-center py-3">
		<div class="col-md-6">
			<div class="card shadow">
				<div class="card-header text-center bg-primary text-white">
					<h2 th:text="${paciente.id == null ? 'Novo Paciente' : 'Editar Paciente'}"></h2>
				</div>
				<div class="card-body">
					<!-- Rota dinâmica: se o paciente tiver ID, chama editar; se não, chama salvar -->
					<form th:action="@{${paciente.id == null ? '/consultorio/paciente/salvar' : '/consultorio/paciente/editar'}}" method="post">

						<!-- Campo oculto para enviar o ID (apenas se existir) -->
						<input type="hidden" name="id" th:if="${paciente.id != null}" th:value="${paciente.id}" />

						<div class="mb-3">
							<label for="nome" class="form-label"
								   th:if="${#fields.hasErrors('fieldName')}"
								   th:errors="*{fieldName}" >Nome:</label>
							<input type="text" class="form-control " id="nome" name="nome"
								   th:value="${paciente.nome}"
								   th:field="*{fieldName}"
								   th:errorclass="is-invalid"
								   placeholder="Digite o nome">
						</div>

						<div class="mb-3">
							<label for="telefone" class="form-label"
								   th:if="${#fields.hasErrors('fieldName')}"
								   th:errors="*{fieldName}">Telefone:</label>
							<input type="text" class="form-control" id="telefone" name="telefone"
								   th:field="*{fieldName}" th:errorclass="is-invalid"
								   th:value="${paciente.telefone}"  placeholder="Digite o telefone">
						</div>

						<div class="d-flex justify-content-between">
							<button type="submit" class="btn btn-success" th:text="${paciente.id == null ? 'Salvar' : 'Atualizar'}"></button>
							<a class="btn btn-secondary" th:href="@{/consultorio/paciente}">Cancelar</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>



</body>
</html>
